name: Auto Affiliate Runner

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Set Google Credentials
        run: echo "$GCP_CREDENTIALS" > gcloud_key.json
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

      - name: Execute automation script
        run: python main.py
        env:
          GOOGLE_APPLICATION_CREDENTIALS: gcloud_key.json
